<div class="not-found-container">
  <img src="../../assets/Slytherin.png" alt="Slytherin Logo" class="slytherin">
  <h2 class="green">It seems you have wandered into the dungeons...</h2>
  <p class="dark-green">Unfortunately, the page you are looking for has vanished into thin air, just like a Slytherin's cunning plan.</p>
  <button type="button" class="btn background-green white fw-bold">
      <a (click)="goBack()" class="link text-decoration-none white">Return to Safety</a>
  </button>
  <br>
  <br>
  <img src="../../assets/Wand.png" alt="Wand" class="wand">
</div>