.not-found-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  gap: 20px;
}

h2 {
  font-size: 2.5rem;
}

img {
  width: 400px;
}

.wand {
  position: absolute;
  top: 100px;
  right: 20px;
  animation: flicker 2s infinite;
}
@keyframes flicker {
  0%, 100% { opacity: 1; }
  50% { opacity: 0.2; }
}

.slytherin {
  animation: slither 2s infinite;
}

@keyframes slither {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-10px); }
}