<div class="text-center mt-5">
  <h1 class="dark-green">Want to get in contact with us?</h1>
  <br>
  <div class="contact-us-columns-container">
    <div class="contact-us-column">
      <br>
      <h3>Address <span class="material-symbols-outlined icon">location_on</span></h3>

      <hr>
      <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6008.5293153621315!2d-95.92073292342546!3d41.15057601064989!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8793886a86ca807f%3A0x838e857240d175eb!2sBellevue%20University!5e0!3m2!1sen!2sus!4v1718380604453!5m2!1sen!2sus"
      width="530"
      height="450"
      style="border:0;"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
      <hr>
      <p class="address">
        1000 Galvin Rd S, Bellevue, NE 68005
      </p>
      <br>
    </div>

    <div class="contact-us-column green">
      <div class="sub-container">
        <div>
          <br>
          <h3 class="black">Email <span class="material-symbols-outlined icon">mail</span></h3>
          <hr>
          <h4>
            Slytherin Council
          </h4>
          <ul class="email-list">
            <li>
              <p class="fw-bold">Head of Slytherin House</p>
              <p class="black">snapeSeverus1@hogwarts.edu</p>
            </li>
            <li>
              <p class="fw-bold">Ex Head of Slytherin House</p>
              <p class="black">slughornHorace32@hogwarts.edu</p>
            </li>
          </ul>
        </div>

        <div>
          <br>
          <hr>
          <h3 class="black">Phone <span class="material-symbols-outlined">phone_in_talk</span></h3>
          <p class="black"><span class="fw-bold">Main Line: </span> +1 (800) 123-4567</p>
          <p class="black"><span class="fw-bold">Support Line:</span> +1 (800) 321-7654</p>
        </div>
      </div>
    </div>
  </div>
</div>
