<div class="about-us-container">
    <h1>About Nodebucket Task Manager</h1>
    
    <a routerLink="/tasks" class="link p-2">
        <img src="../../assets/nodebucket_crop.png" alt="Nodebucket" width="400">
    </a>
    
    <p>Welcome to Nodebucket Task Manager, your ultimate productivity companion! With Nodebucket, managing your tasks has always been challenging. Securely access your personalized task dashboard by logging into your account. Once logged in, you can view all your tasks, neatly categorized into 'To-Do' and 'Done' sections for better organization. Adding new tasks is a breeze—enter the task details, set a due date, and you are ready to go. Need to update a task? No problem! You can quickly edit task details to keep everything accurate and up-to-date. Are you finished with a task or no longer need it? Effortlessly remove tasks from your list to keep your dashboard clutter-free. As you progress through your tasks, you can drag and drop them between 'To-Do' and 'Done', giving you a visual sense of accomplishment. Nodebucket is designed to help you stay organized, productive, and on top of your responsibilities.</p>

    <h1>About Our Company</h1>

    <p>Welcome to Nodebucket, where ambition meets innovation. Inspired by the cunning and resourcefulness of the Slytherin house from Harry Potter, Nodebucket is dedicated to helping you achieve greatness. Our company thrives on strategic thinking, determination, and a relentless pursuit of excellence. Just like the revered house of Slytherin, we value intelligence, ambition, and leadership. At Nodebucket, we believe in empowering our users to take control of their productivity with a touch of cunning sophistication. Join us, and together, we will master the art of task management and unlock your full potential.</p>
</div>

