<!-- Main container -->
<div class="tasks-container">
  <h1 class="tasks-main-title">My tasks</h1>

  <!-- Task form -->
  <form #taskForm="ngForm" (ngSubmit)="createTask(taskForm); taskForm.reset()" class="tasks-form">
    <input type="text" name="task" ngModel required placeholder="Enter a new task...">
    <input type="submit" value="Add Task" [disabled]="!taskForm.valid">
  </form>

  <!-- Tasks container -->
  <div class="tasks-columns-container">

    <!-- Todo tasks column-->
    <div class="tasks-column">
      <h2>Todo</h2>
      <div class="tasks-list-container">

        <div *ngIf="todo.length === 0 || !todo" class="no-tasks">
          No tasks to do yet!
        </div>

        <div *ngFor="let item of todo" class="tasks-card">
          {{ item.text }}
        </div>

      </div>
    </div>

    <!-- Done tasks column -->
    <div class="tasks-column">
      <h2>Done</h2>
      <div class="tasks-list-container">

        <div *ngIf="done.length === 0 || !done" class="no-tasks alert alert-danger">
          No tasks done yet!
        </div>

        <div *ngFor="let item of done" class="tasks-card alert alert-danger">
          {{ item.text }}
        </div>
      </div>
    </div>
  </div>
</div>