.tasks-container {
  width: 100%;
  max-width: 960px;
  height: 100%;
  margin: auto;
  margin-top: 10px;
  padding: 20px;
  border-radius: 4px;
}

.tasks-main-title {
  text-align: center;
  padding: 10px;
  margin-bottom: 10px;
}

.tasks-columns-container {
  display: flex;
  justify-content: space-between;
}

.tasks-column {
  width: 45%;
  margin-top: 30px;
}

.tasks-column h2 {
  text-align: center;
}

.tasks-list-container {
  border-radius: 4px;
  background-color: #fff;
  padding: 10px;
  min-height: 500px;
  max-height: 600px;
  overflow-y: auto;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.6);
}

.tasks-form {
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

.tasks-form input[type="text"] {
  flex-grow: 1;
}

.no-tasks {
  text-align: center;
  margin-top: 50%;
}

.tasks-card {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 25px;
  margin-bottom: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}

.delete-btn {
  width: 50px;
  height: 40px;
  border: 1px solid #ddd;
  border-radius: 3px;
  background-color: transparent;
  transition: text-shadow 0.3s ease, box-shadow 0.3s ease;
}

.delete-btn:hover {
  color: #9B111E;
  text-shadow: 0 4px 8px rgba(0,0,0,0.4);
  box-shadow: 0 4px 8px rgba(0,0,0,0.4);
}

.delete-icon {
  font-size: 32px;
}

.blur-background {
  filter: blur(4px);
}

.custom-dialog-container {
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 16px;
  width: 300px;
}

.cdk-drag-preview {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 0.2s ease-in-out;
}