/* You can add global styles to this file, and also import other style files */
/*
  Title: styles.css
  Author: Zadkiel Rodriguez Alvarado
  Date: 6/4/2024
  Description: Styles for the app.
*/
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
  background-color: #858585 !important;
  font-family: 'Poppins', sans-serif !important;
}

.background-dark-green {
  background-color: #1a472a !important;
}

.background-green {
  background-color: #2a623d !important;
}

.background-dark-grey {
  background-color: #5d5d5d !important;
}

.background-light-grey {
  background-color: #aaa !important;
}

.background-black {
  background-color: #000 !important;
}

.green {
  color: #108338 !important;
}

.dark-green {
  color: #1a472a !important;
}

.white {
  color: #fff !important;
}

.logo {
  width: 300px;
  padding: 20px;
}

.signin-logo {
  width: 200px;
  padding-bottom: 20px;
}

.btn {
  transition: box-shadow 0.3s ease, background-color 0.3s ease !important;
}

.btn:hover {
  background-color: #108338 !important;
  box-shadow: 0 4px 8px rgba(0,0,0,0.4) !important;
}

.container {
  width: 100%;
  height: 100vh;
  max-width: 960px;
  background-color: #dbd6d6;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 5px 8px 10px #0000002f;
}

.blur-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(2px);
  z-index: 1; /* Make sure the blur overlay is above the page */
  pointer-events: none;
}

.dialog-container {
  z-index: 9999; /* Make sure the dialog container is above the blur effect */
}
