.btn {
  width: 45%;
  height: 50px;
}

.logo-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: center;
  text-align: center;
}

.word-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  font-family: "Dancing Script", sans-serif;
  font-size: 2rem;
}

.image-container {
  display: flex;
  justify-content: center;
}

